{% extends 'lg.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

    <style> body {background-color: #FFE8CF}
#btn-brew {
    --bs-btn-color: #FFE8CF;
    --bs-btn-bg: #2B4162;
    --bs-btn-border-color: #2B4162;
    --bs-btn-hover-color: #FFE8CF;
    --bs-btn-hover-bg: #283B59;
    --bs-btn-hover-border-color: #283B59;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #FFE8CF;
    --bs-btn-active-bg: #283B59;
    --bs-btn-active-border-color: #283B59;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FFE8CF;
    --bs-btn-disabled-bg: #2B4162;
    --bs-btn-disabled-border-color: #2B4162;
    }
    #btn-brew-flip {
    --bs-btn-color: #FFE8CF;
    --bs-btn-bg: #2B4162;
    --bs-btn-border-color: #FFE8CF;
    --bs-btn-hover-color: #FFE8CF;
    --bs-btn-hover-bg: #283B59;
    --bs-btn-hover-border-color: #FFE8CF;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #FFE8CF;
    --bs-btn-active-bg: #283B59;
    --bs-btn-active-border-color: #FFE8CF;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FFE8CF;
    --bs-btn-disabled-bg: #2B4162;
    --bs-btn-disabled-border-color: #FFE8CF;
    }

    </style>

<div class="container text-center">
    <div class="d-grid gap-5">
    <div class="row text-center">
        <div class="col-13 pt-4">
<img style="margin-top: 30px" src="{% static 'athomebrew/images/logo.svg' %}" alt="logo">
        </div>
        <div class="col-13 pt-4">
<img style="width: 300px; margin-top: 50px" src="{% static 'athomebrew/images/coffe_cup.svg' %}" alt="cards">
        </div>
</div>
</div>
</div>

<br>

<div class="container-fluid py-3 col-10 col-lg-5">
<div class="d-grid gap-2 mx-auto pt-5 align-content-center">
<a id="btn-brew" class="btn" href="/athomebrew/register" style="--bs-btn-padding-y: .90rem; --bs-btn-padding-x: .10rem; font-size: 20px; border-radius: 15px" role="button">Register</a>
<a id ="btn-brew-flip"class="btn" href="/athomebrew/login" role="button" style="--bs-btn-padding-y: .90rem; --bs-btn-padding-x: .10rem; font-size: 20px; border-radius: 15px" role="button">Login</a>
</div>
    </div>

{% endblock %}